<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <title>Add Category Page</title>
        <!-- Include Bootstrap CSS styles -->
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body style="background-color: #f6f4f2;">
        <!-- Background color and image banner -->
        <img src="/eventManagementApp.jpg" width="100%" height="20%" alt="Event Image"> <br>

            <!-- Container for the main content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Container for header and navigation buttons -->
            <div class="container text-center">
                <!-- "Home" button to navigate back to the main page -->
                <a type="button" class="btn btn-success" href="/">Home</a>
                <br><br>
                <!-- Title and description for the form -->
                <h2>Delete Event</h2>
                <br>
                <h5>Add the event id behind to be deleted</h5>
            </div>

    </body>
</html>