<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap CSS styles -->
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color: #f6f4f2;">
    <!-- Image banner for the page -->
    <img src="/eventManagementApp.jpg" width="100%" height="20%" />

    <!-- Container for the counters -->
    <div class="container text-center">

    </div>

    <!-- Container for the main content -->
    <div class="container text-center">
        <!-- Create a single flex container for horizontal arrangement -->
        <div class="d-flex">
            <!-- Individual containers -->
            <div class="container mt-4">
                <div class="border border-dark rounded bg-light text-center" style="width: 180px; height: 120px;">
                    <br>
                    <h2><%= eventNumber %></h2>
                    <h7 class="m-0">Events</h7>
                </div>
            </div>
            <div class="container mt-4">
                <div class="border border-dark rounded bg-light text-center" style="width: 180px; height: 120px;">
                    <br>
                    <h2><%= categoryNumber %></h2>
                    <h7 class="m-0">Categories</h7>
                </div>
            </div>
            <div class="container mt-4">
                <div class="border border-dark rounded bg-light text-center" style="width: 180px; height: 120px;">
                    <br>
                    <h2><%= recordsCounter.recordsCreated %></h2>
                    <h7 class="m-0">Records Created</h7>
                </div>
            </div>
            <div class="container mt-4">
                <div class="border border-dark rounded bg-light text-center" style="width: 180px; height: 120px;">
                    <br>
                    <h2><%= recordsCounter.recordsDeleted %></h2>
                    <h7 class="m-0">Records Deleted</h7>
                </div>
            </div>
            <div class="container mt-4">
                <div class="border border-dark rounded bg-light text-center" style="width: 180px; height: 120px;">
                    <br>
                    <h2><%= recordsCounter.recordsUpdated %></h2>
                    <h7 class="m-0">Records Updated</h7>
                </div>
            </div>
        </div>

        <br><br>
        <!-- Title and subtitle for the page -->
        <h1>Admin Panel</h1>
        <h5>Tasks Group 1 (Sayyidina Malcolm)</h5>
        <br>
        
        <!-- Container for the Task Group 1 buttons -->
        <div class="container">
            <!-- Button to Add Category -->
            <a class="btn btn-secondary" href="/category/32578393/add-category">Add Category</a>
            <!-- Button to List All Categories -->
            <a class="btn btn-secondary" href="/category/32578393/list-category">List All Categories</a>
            <!-- Button to List Categories by Keyword -->
            <a class="btn btn-secondary" href="/category/32578393/list-keyword/:keyword">List Categories by Keyword</a>
            <!-- Button to Show Event Details -->
            <a class="btn btn-secondary" href="/category/32578393/view-event/:eventId">Show Event Details</a>
            <!-- Button to Delete Category by ID -->
            <a class="btn btn-secondary" href="/category/32578393/delete-category">Delete Category by ID</a>
        </div>
        
        <br><br>
        <!-- Subtitle for Task Group 2 -->
        <h5>Tasks Group 2 (Cherylyn Yong Jo Yee)</h5>
        <br>
        
        <!-- Container for the Task Group 2 buttons -->
        <div class="container">
            <!-- Button to Add Event -->
            <a class="btn btn-secondary" href="/cherylyn/event/add">Add Event</a>
            <!-- Button to List All Events -->
            <a class="btn btn-secondary" href="/cherylyn/event/listall">List All Events</a>
            <!-- Button to List Sold Out Events -->
            <a class="btn btn-secondary" href="/cherylyn/event/soldout">List Sold Out Events</a>
            <!-- Button to Category Detail Page -->
            <a class="btn btn-secondary" href="/cherylyn/category/:categoryID">Category Detail Page</a>
            <!-- Button to Delete Event by ID -->
            <a class="btn btn-secondary" href="/cherylyn/event/remove/">Delete Event by ID</a>
        </div>
        
        <br><br>
        <!-- Credits for the development team -->
        <h5>Developed by Team-16</h5>
        <!-- Image of the development team -->
        <img src="/team-16.jpg" width="100%" height="20%" />
    </div>
</body>
</html>
